.anime-details-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    border: 1px solid black;
  }
  
  .anime-details-row {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    border: 1px solid black;
    justify-content: center;
  }
  .anime-details-image {
    flex: 0 0 30%;
  }
  
  .anime-details-image img {
    width: 250px;
    height: 350px;
    object-fit: cover;
    object-position: top;
  }
  
  .anime-details-info {
    flex: 0 0 70%;
    padding: 10px;
  }
  
  .anime-details-info h1 {
    margin-bottom: 15px;
    font-size: 28px;
  }
  
  .anime-details-info p {
    margin: 8px 0;
    font-size: 16px;
  }
  
  .anime-details-description {
    margin-top: 30px;
  }
  
  .anime-details-description h2 {
    margin-bottom: 10px;
    font-size: 22px;
  }
  
  .anime-details-description p {
    line-height: 1.6;
    font-size: 16px;
    color: #555;
  }
  
  .anime-details-loading {
    text-align: center;
    margin-top: 100px;
    font-size: 18px;
    color: #777;
  }
  


  
/* ************************************************************************ */

@media (max-width:1000px){
  
  .anime-details-image{
    flex: 0 0 50%;
    display: flex;
    justify-content: right;
  }
  .anime-details-info{
    flex: 0 0 50%;
  }
}





@media (max-width:600px){
  .anime-details-row{
    flex-direction: column;
  }

  .anime-details-image img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: top;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
 
  
}