.bloglist-loading{
    text-align: center;
     margin-top: 50px;
}
.bloglist-container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.bloglist-heading{
    text-align: center;
    margin-bottom: 10px;
}
.bloglist-intro{
    text-align: center;
    margin-bottom: 40px;
}
.bloglist-main-card{
    display: flex;
     flex-direction: column;
      gap: 30px;
}
.bloglist-link{
    display: flex;
    text-decoration: none;
    color: inherit;
    border: 1px solid #ddd;
    overflow: hidden;
    transition: transform 0.2s;
    cursor: pointer;
}
.bloglist-main-image{
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.bloglist-info-container{
    padding: 20px;
}
.bloglist-info-title{
    margin: 10px;
}
.bloglist-info-text{
    margin: 10px;
    color: #555;
}



@media (max-width:600px){
    .bloglist-link{
        flex-direction:column;
    }
    .bloglist-main-image{
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: top;
    }
}