.search-container {
  margin: 0 auto;
  padding: 20px 50px;
}
.search-filters {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}
.search-filter-button {
  padding: 10px 20px;
  background-color: #eee;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-weight: 500;
  transition: 0.3s;
}
.search-filter-button.active {
  background-color: #333;
  color: white;
}













.search-results-container {
  display: flex;
  flex-direction: column;
}
.search-result-item {
  display: flex;
  text-decoration: none;
  border-radius: 8px;
  background: white;
  color: inherit;
  gap: 1.6rem;
  padding: 1.2rem;
  border-bottom: 1px solid #ddd;
}
.search-result-image-container img {
  object-fit: cover;
  width: 100px;
  height: auto;
}
.search-square-image {
  width: 100%;
  aspect-ratio: 1 / 1; /* makes it square */
  object-fit: cover;
}
.search-result-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 8px 0px;
}
.search-result-title:hover{
  text-decoration: underline;
}
.search-result-description {
  font-size: 1.4rem;
  color: #555;
}
.search-loading, .search-no-results {
  text-align: center;
  font-size: 1.2rem;
  color: #888;
}

/* ********************************************************************************************** */

@media (max-width:500px){
  .search-result-title{
    font-size: 1.4rem;
  }
  .search-page-container {
    margin: 0 auto;
    padding: 20px 10px;
  }
  .search-filters{
   gap: 5px;
  }
  .search-filter-button{
    padding: 10px 15px;
  }
  
}











