.tvshows-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

}

 
.tvshows-filters {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
  overflow-x: auto;
}


.tvshows-filters::-webkit-scrollbar {
  display: none;
}
.tvshows-filters-type{
  font-size: 2rem;
}

.tvshows-filters select {
  padding: 8px 12px;
  font-size: 16px;
  width: 200px;
}

.tvshows-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 25px;
  margin-top:50px;
}

.tvshows-card {
  border: 1px solid #ddd;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
}


.tvshows-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
}

.tvshows-card a {
  text-decoration:none;
}

.tvshows-card div {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}

.tvshows-card p {
  margin: 5px 0;
  color: #666;
}

.tvshows-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tvshows-pagination button {
  background-color: #f0f0f0;
  border: none;
  margin: 0 5px;
  padding: 8px 12px;
  cursor: pointer;
}

.tvshows-pagination button.active {
  background-color:  rgb(100,100,255);
  color: white;
}

.tvshows-pagination button:hover {
  background-color: rgb(150,150,255);
  color: white;
}






/* *********************************************************************************** */




@media (max-width:800px){
  .filters{
    justify-content: unset;
  }
}