* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
}




html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}
.page-content {
  flex: 1;
}
























.home-container {
  padding: 20px;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 0px 100px;
}

.post-card {
  border: 1px solid #ddd;
  background-color: #fff;
  margin: 10px 0px;
}
.post-card-link-container{
  text-decoration: none;
  color: inherit; /* also to prevent link blue color */
}

.post-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: top;
}

.post-title {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
}


.post-description {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 14px;
  color: #666;
}
